.main {
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
}

.user {
    width: 150px;
    height: 150px;
    background: #EFEFEF 0% 0% no-repeat padding-box;
    opacity: 1;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 100px;
}

.img1 {
    height: 70px;
    width: 70px;
}

.tag {
    /* top: 469px;
    left: 792px;
    width: 336px;
    height: 54px; */
    /* UI Properties */
    text-align: center;
    letter-spacing: 0px;
    color: #0B3558;
    font-size: 20px;
    margin: 0;
    margin-bottom: 30px;
}

.for {
    text-align: right;
    letter-spacing: 0px;
    color: #003FB9;
    font-size: 20px;
    font-weight: 500;
    margin: 0;
}

.welcome {
    /* left: 844px;
    width: 233px; */

    /* UI Properties */     
    text-align: left;
    letter-spacing: 0px;
    color: #0B3558;
    opacity: 1;
    font-size: 48px;
    font-weight: 700;
    margin: 16px 0 8px 0;
}

@media screen and (max-width: 920px) {
    .main{
        padding: 10px;
    }
    .user {
        width: 100px;
        height: 100px;
        background: #EFEFEF 0% 0% no-repeat padding-box;
        opacity: 1;
        align-items: center;
        justify-content: center;
        display: flex;
        border-radius: 100px;
    }
    .img1 {
        height: 50px;
        width: 50px;
    }
    .welcome {
        /* left: 844px;
        width: 233px; */
    
        /* UI Properties */     
        text-align: left;
        letter-spacing: 0px;
        color: #0B3558;
        opacity: 1;
        font-size: 24px;
        font-weight: 700;
        margin: 16px 0 8px 0;
    }
    
}